/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
	/* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
	--color-text-primary: #353430;
	--accent-color: #ff8dcb;
	--heading-accent-color: #ffc2e6;
	--header-decorative-elements-display: none;
	--decorative-borders-color: #353430;
	--menu-buttons-color: #353430;
	--focus-visible-buttons-underline-color: #353430;
	--menu-buttons-hover-color: #32312d66;
}

.theme-light .page {
	--background-image: url("../images/cover-image-light.png");
	--background-color: #fff1f7;
}

.theme-light .header__decorative-text {
	--header-decorative-elements-display: none;
}

.theme-light .decorated-zone::before {
	--decorative-borders-color: #353430;
}

.theme-light .decorated-zone::after {
	--decorative-borders-color: #353430;
}

.theme-light .header__decorative-text::after {
	--header-decorative-elements-display: none;
}

.theme-light .header__theme-menu-button {
	--menu-buttons-color: #353430;
}

.theme-light .header__theme-menu-button::after {
	--focus-visible-buttons-underline-color: #353430;
	--focus-visible-buttons-display: none;
}

.theme-light .header__theme-menu-button:focus-visible::after {
	--focus-visible-buttons-display: block;
}

.theme-light .header__theme-menu-button:hover {
	--menu-buttons-hover-color: #32312d66;
}

.theme-light .header__theme-menu-button.header__theme-menu-button_active {
	outline: 1px solid var(--menu-buttons-color);
}

.theme-light .section__title {
	color: var(--color-text-primary);
}

.text-link-accent {
	position: relative;
	text-shadow: 2px 2px 0 var(--accent-color);
}

.decorated-zone {
	color: var(--color-text-primary);
}

@media (prefers-color-scheme: light) {
	:root {
		--background-image: url("../images/cover-image-light.png");
		--background-color: #fff1f7;
		--color-text-primary: #353430;
		--accent-color: #ff8dcb;
		--heading-accent-color: #ffc2e6;
	}
	.page {
		--background-image: url("../images/cover-image-light.png");
	}
	.header__decorative-text {
		--header-decorative-elements-display: none;
	}
	.decorated-zone::before {
		--decorative-borders-color: #353430;
	}
	.decorated-zone::after {
		--decorative-borders-color: #353430;
	}
	.header__decorative-text::after {
		--header-decorative-elements-display: none;
	}
	.header__theme-menu-button {
		--menu-buttons-color: #353430;
	}
	.header__theme-menu-button:hover {
		--menu-buttons-hover-color: #32312d66;
	}
	.header__theme-menu-button::after {
		--focus-visible-buttons-underline-color: #353430;
		--focus-visible-buttons-display: none;
	}
	.header__theme-menu-button:focus-visible::after {
		--focus-visible-buttons-display: block;
	}
	.header__theme-menu-button_active {
		outline: 1px solid var(--menu-buttons-color);
		outline-offset: 1px;
	}
	.section__title {
		color: var(--color-text-primary);
	}
	.text-link-accent {
		position: relative;
		text-shadow: 2px 2px 0 var(--accent-color);
	}
	.decorated-zone {
		color: var(--color-text-primary);
	}
}
