/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
	/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
	background-image: var(--dark-background-image);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-color: var(--dark-background-color);
}

.header {
	height: 100vh;
	min-height: 668px;
	padding: 0 10px;
	display: grid;
	grid-template-rows: 1fr min-content 1fr;
	position: relative;
}

.header__theme-menu {
	justify-self: end;
	align-self: center;
}

.header__title,
.header__subtitle {
	justify-self: start;
}

.header__decorative-text {
	position: absolute;
	display: inline-block;
	right: 20px;
	top: 11px;
}

.header__decorative-text::after {
	content: "";
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-left: 10px;
	border-radius: 50%;
	background-color: var(--accent-color);
	box-shadow: 0 0 4px 2px var(--accent-color);
}

.page .decorated-zone {
	position: relative;
	color: var(--accent-color);
}

.decorated-zone::before {
	content: "";
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: 25px;
	height: 25px;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
}

.decorated-zone::after {
	content: "";
	position: absolute;
	top: 12px;
	right: 10px;
	width: 25px;
	height: 25px;
	border-top: 1px solid currentColor;
	border-right: 1px solid currentColor;
}

.header__theme-menu-list {
	display: flex;
	flex-direction: column;
	gap: var(--gap-s);
}

.header__theme-menu-item .header__theme-menu-button {
	position: relative;
	text-transform: lowercase;
	line-height: 1rem;
	padding: 5px 13px 5px 13px;
	outline: 1px solid transparent;
	outline-offset: 1px;
	transition: 0.25s;
}

.header__theme-menu-item:nth-child(3) {
	outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
	outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: var(--accent-color);
	display: none;
}

.header__theme-menu-button:focus-visible::after {
	display: block;
}

.header__theme-menu-button:focus-visible {
	outline: none;
}

.header__theme-menu-button.header__theme-menu-button_active {
	pointer-events: none;
	outline: 1px solid var(--accent-color);
	outline-offset: 1px;
}

.header__title,
.footer__title {
	font-weight: var(--font-weight-bold);
	font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
	line-height: 6.2rem;
	color: var(--heading-accent-color);
	text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
	display: flex;
	flex-direction: column;
	align-self: center;
	margin-bottom: 18px;
	font-weight: var(--font-weight-bold);
	line-height: 1.47rem;
}

.title-decor {
	background-color: var(--accent-color);
	color: var(--color-text-secondary);
	height: min-content;
}

.content__section {
	margin: 0 10px;
	color: var(--color-text-primary);
	font-weight: var(--font-weight-normal);
	line-height: 1.466rem;
}

.section__title {
	font-size: var(--font-size-body);
	font-weight: var(--font-weight-bold);
	color: var(--accent-color);
}

.section__focus-issues,
.section__focus-reducers,
.section__focus-tips,
.section__focus-tips-visual {
	display: grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-rows: auto;
	gap: var(--gap-m);
	margin-top: 40px;
}

.section__focus-reducers,
.section__focus-tips,
.section__focus-tips-visual {
	margin-top: 27px;
}

.section__focus-tips__content {
	display: flex;
	flex-direction: column;
	gap: var(--gap-m);
}

.section__focus-tips-visual {
	gap: var(--gap-s);
}

.focus-issues__card-list {
	display: grid;
	grid-template-rows: repeat(2, min-content);
}

.card__title {
	font-weight: var(--font-weight-bold);
}

.card__text {
	margin: 10px 0 20px 0;
}

.text-link-accent {
	position: relative;
	text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link-accent:hover::before {
	content: "";
	position: absolute;
	display: inline-block;
	bottom: 0;
	left: 0;
	right: 0;
	border-bottom: 1px solid var(--color-text-primary);
	z-index: -1;
}

.text-link‑accent:hover {
	color: var(--color-text-primary);
}

.text-link-accent:focus-visible::before {
	display: none;
}

.text-link-accent:focus-visible {
	outline: 1px solid var(--color-text-primary);
}

.focus-reducers__card-list {
	display: grid;
	grid-template-rows: repeat(3, min-content);
}

.focus-tips__card-list {
	display: grid;
	grid-template-rows: repeat(5, min-content);
}

.title-fw {
	font-weight: var(--font-weight-normal);
}

.focus-tips-visual__gallery-list {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	gap: var(--gap-xs);
}

.gallery__image {
	inline-size: 100%;
	block-size: 100%;
	max-block-size: 100%;
	object-fit: cover;
}

.footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	place-items: center;
	height: 100vh;
	min-height: 668px;
	margin-top: 2.2rem;
}

.footer .footer__title {
	text-shadow: 2px 2px 0 var(--accent-color);
}
